body {
  width: 100%;
  height: 100%;
  background-color: #181818;
}

.picoverlay {
  background-image: url("overpic.png");
  width: 100%;
  height: 100%;
  background-size: contain;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;

}
